#page-home {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

#btn-materias {
  position: relative;
  width: 289px;
  height: 71.98px;
  left: 70%;
  top: -60%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background: #297FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #fff;
  font: 700 22px "Poppins", sans-serif;
}

#btn-materias:hover {
  filter: brightness(85%);
}

#page-home #search-content {
  top: -50%
}

#page-home .main-container {
  width: 80%;
  height: 100%;
  margin: -20% auto 51px;

  background: #FFFFFF;

  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px;

  justify-content: center;
}

#page-home .main-container fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 70%;
  border: 0;
  padding: 0 2.4rem;
}

/* .main-container fieldset + fieldset {
  margin-top: 6.4rem;
} */

#page-home .main-container fieldset legend {
  font: 700 28px 'Poppins', sans-serif;
  color: #4D3926;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E6E6F0;
}

#page-home .container-posts {
  width: 720px;
  min-height: 130px; 
  background: #FEFEFE;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 20px;
}

#page-home .container-posts p {
  font-size: 18px;

}

#page-home .autor-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#page-home .container-posts svg {
  width: 30px;
}

#page-home .container-posts span {
  color: #737380;
  font-size: 16px;
  margin-left: 10px;
}

#page-home .container-posts .like-button {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
  margin-right: 70px;
}

#page-home .container-posts button {
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

#page-home .container-posts button :hover {
  filter: brightness(0.8);
}

#page-home .container-posts .like-button .like {
  color: #737380;
  width: 22px;
  height: 22px;
}

